---
name: New Version Bumper

on:
  repository_dispatch:
    types: [new-version-bumper-released]

concurrency:
  group: update-version-bumper
  cancel-in-progress: true

jobs:
  update_version_bumper:
    runs-on: ubuntu-latest
    name: Update Version Bumper via PR
    environment: update-version-bumper

    steps:
      - name: checkout sources
        uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup SSH signing
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SIGNING_KEY }}" > ~/.ssh/signing_key
          chmod 600 ~/.ssh/signing_key
          git config gpg.format ssh
          git config user.signingkey ~/.ssh/signing_key
          git config commit.gpgsign true

      - name: get new version
        id: new_version
        run: echo "text=${{ github.event.client_payload.release }}" | xargs >> "$GITHUB_OUTPUT"

      - name: set new version
        run: yq -i '.runs.steps[0].env.VB_VERSION = "${{ steps.new_version.outputs.text }}"' action.yml

      - name: run diff
        id: diff
        continue-on-error: true
        run: git diff -s --exit-code action.yml

      - name: commit to branch
        if: steps.diff.outcome == 'failure'
        run: |
          git checkout -b new-version-bumper-${{ github.run_id }}
          git add action.yml
          git commit -m "build: bump version bumper to ${{ steps.new_version.outputs.text }}"
          git push origin new-version-bumper-${{ github.run_id }}

      - name: create pull request
        if: steps.diff.outcome == 'failure'
        env:
          GH_TOKEN: ${{ secrets.PR_CREATOR_TOKEN }}
        run: gh pr create --base master --head new-version-bumper-${{ github.run_id }} --fill
