---
name: Validate commits

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  enforce-conventional:
    runs-on: ubuntu-latest
    name: Enforce conventional commits
    steps:
      - name: Source checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Verify with commitlint
        uses: wagoid/commitlint-github-action@v4.1.4
